---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";


/* CSS for my hacked together publications list */
/* div.pubitem
     div.pubtitle
     div.pubauthors
     div.pubinfo
     div.publinks { a a a }
*/
.pubitem { margin-top: 1em; }

.pubtitle {
  font-size: 120%;
  margin-bottom: 0.25em;
}

.pubauthors,
.pubinfo,
.publinks {
  font-size: 80%;
  padding-left: 1.2em;
  margin-bottom: 0.25em;
}
.pubinfo { font-style: italic; }

